{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h3>Réservation</h3>
    <p>Choissez vos préférences avant de passer votre réservation sur Carsen-Automobile</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="col-form-label">Adresse</p>
            <p class="form-check">{{ adresse }}</p>
            {{ form_start(form,{action : path('reservationRecap' ,{'dateDebut' : dateDebut, 'dateFin' : dateFin,'nombreDeJour' : nombreDeJour ,'id' : voitureloc.id, 'prixJour' : voitureloc.prix,'modele' : voitureloc.modele} )}) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            <b class="col-form-label">Recap de ma Reservation</b>
            <div class="order-summary">
                <div class="row">
                    <div class="col-2">
                        <img src="/uploads/photoCarLoc/{{voitureloc.photo}}" alt="{{ voitureloc.modele }}" height="60px">
                    </div>
                    <div class="col-8 my-auto ">
                        Modèle  : {{ voitureloc.modele }}<br>
                        Marque : {{ voitureloc.marque }}<br>
                        Location : Du {{ dateDebut }} au {{ dateFin }} <br>
                        Nombre de jour : {{ nombreDeJour }} <br>
                        Prix / jour : {{ (voitureloc.prix/100)|number_format(0, ',', ' ') }} FCFA
                    </div>
            </div>
        </div>
    </div>
{% endblock %}