{% extends 'base.html.twig' %}

{% block title %}Connexion- Carsen Automobile{% endblock %}

{% block content %}
    <div class="block-small">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'securityCustomer') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
    <label for="inputEmail">Votre email</label>
    <input type="email" value="{{ last_username }}" placeholder="Votre adresse email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Votre mot de passe</label>
    <input type="password" name="password" placeholder="Votre mot de passe" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="d-grid gap-2 col-4 ">
    <button class="btn  btn-info btn-block mt-3" type="submit">
        Se connecter
    </button>
    </div>
    <hr>
    <p class="text-center">Ou souhaitez-vous <a href="{{ path('register_customer') }}">Créer un compte Client ?</a></p>
    <p class="text-center"><a style="text-decoration: none" href="{{ path('register_owner') }}">Créer un compte Proprietaire ?</a></p>
</form>
    </div>
{% endblock %}
